.navbar {
    display: flex;
    align-items: center;
    padding: 20px 16px;
    background-color:  #010409;
    border: solid 1px #30363d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 40px;
    font-weight: 600;
    margin-right: 16px;
    color: #e6edf3;
    transition: color 0.3s ease;
}

.spacer {
    flex: 1;
}

button {
    text-transform: uppercase;
    margin-left: 8px;
    border: 1px solid #292e36;
    padding: 8px 16px;
    border-radius: 4px;
    color: #c9d1d9;
    background-color: #21262d;
    cursor: pointer;
    transition: all 0.3s ease, box-shadow 0.2s ease;
}

button:hover {
    background-color: #808993;
    color: #666b5c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button.active {
    font-weight: 600;
}

.custom-toolbar {
    padding: 8px 16px;
    border-radius: 4px;
    background: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
