<mat-spinner [color]="'primary'" [diameter]="60" [strokeWidth]="6" *ngIf="isSubmitting"></mat-spinner>
<div class="parent" *ngIf="!isSubmitting">
  <div class="child">
    <h2 class="question-caption">Edit Answer</h2>
    <form *ngIf="validateForm" [formGroup]="validateForm">
      <div class="form-input">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Body</mat-label>
          <textarea matInput placeholder="Body" rows="6" formControlName="body"></textarea>
          <mat-error *ngIf="validateForm.get('body')?.invalid && (validateForm.get('body')?.dirty || validateForm.get('body')?.touched)">
            Body is required!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Image</mat-label>
          <input matInput type="url" placeholder="Url" formControlName="url" />
          <mat-error *ngIf="validateForm.get('url')?.invalid && (validateForm.get('url')?.dirty || validateForm.get('url')?.touched)">
            Image is required!
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" class="login-form-button login-form-margin" type="submit"
              (click)="addAnswer()" [disabled]="validateForm.invalid" [routerLink]="'/user/question/' + questionId" routerLinkActive="active">Post Answer
      </button>
    </form>
  </div>
</div>
