<mat-spinner [color]="'primary'" [diameter]="60" [strokeWidth]="6" *ngIf="isSubmitting"></mat-spinner>
<div class="parent" *ngIf="!isSubmitting">
    <div class="child">
        <h2 class="question-caption">Post Question</h2>
        <form [formGroup]="validateForm">
            <div class="form-input">
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Title</mat-label>
                    <input class="input-field" type="text" placeholder=""matInput placeholder="Title" formControlName="title" />
                    <mat-error
                        *ngIf="validateForm.get('title')?.invalid && (validateForm.get('title')?.dirty || validateForm.get('title')?.touched)">
                        Title is required!
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-input">
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Body</mat-label>
                    <textarea matInput placeholder="Body" rows="6" formControlName="body"></textarea>
                    <mat-error
                        *ngIf="validateForm.get('body')?.invalid && (validateForm.get('body')?.dirty || validateForm.get('body')?.touched)">
                        Body is required!
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="form-input">
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Tags</mat-label>
                    <h2></h2>
                    <small class="form-text text-muted">Enter tags to describe what your question is about. Start typing to see suggestions.</small>
                    <mat-chip-grid #chipGrid aria-label="Enter tags" formControlName="tags">
                      @for (tag of tags; track tag) {
                        <mat-chip-row (removed)="remove(tag)">
                          {{tag}}
                          <button matChipRemove [attr.aria-label]="'remove ' + tag">
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip-row>
                      }
                    </mat-chip-grid>
                    <input class="test" placeholder="e.g (mongodb pandas c++)" #tagInput [formControl]="tagCtrl"
                      [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="add($event)"/>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                      @for (tag of filteredTags | async; track tag) {
                        <mat-option [value]="tag">{{tag}}</mat-option>
                      }
                    </mat-autocomplete>
                  </mat-form-field>
            </div>
            <button mat-raised-button color="primary" class="login-form-button login-form-margin" type="submit" (click)="postQuestion()" [disabled]="validateForm.invalid">Post Question</button>
        </form>
    </div>
</div>
